@model VKTracker.Model.ViewModel.FabricViewModel

<div class="card">
    <div class="card-header d-flex align-items-center">
        <h5 class="card-title mb-0 flex-grow-1">Fabric</h5>
        <div>
            <button class="btn btn-primary btn-label waves-effect waves-light" data-bs-toggle="modal" id="btnFabricModal" data-bs-target="#fabricModal">
                <i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i> Add Fabric
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="gridFabric" class="display table caption-top table-nowrap" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th class="col-10">Fabric</th>
                    <th class="col-2">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade zoomIn" id="fabricModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="exampleModalLabel">Fabric Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <form id="fabricForm" name="fabricForm" method="post">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <label for="projectName-field" class="form-label">Fabric Name</label>
                            @Html.HiddenFor(x => x.Id)
                            @Html.TextBoxFor(x => x.FabricName, new { @class = "form-control", @placeHolder = "Fabric Name" })
                            @Html.ValidationMessageFor(x => x.FabricName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="addFabric">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>