@{
    ViewBag.Title = "Master";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Master</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Master</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <ul class="nav nav-pills nav-justified mb-3" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light active" data-bs-toggle="tab" href="#pill-justified-home-1" role="tab" aria-selected="true">
                    Home
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" href="#pill-justified-profile-1" role="tab" aria-selected="false" tabindex="-1">
                    Profile
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" href="#pill-justified-messages-1" role="tab" aria-selected="false" tabindex="-1">
                    Messages
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link waves-effect waves-light" data-bs-toggle="tab" href="#pill-justified-settings-1" role="tab" aria-selected="false" tabindex="-1">
                    Settings
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content text-muted">
            <div class="tab-pane active show" id="pill-justified-home-1" role="tabpanel">
                <b>Home</b>
            </div>
            <div class="tab-pane" id="pill-justified-profile-1" role="tabpanel">
                <b>Profile</b>
            </div>
            <div class="tab-pane" id="pill-justified-messages-1" role="tabpanel">
                <b>Messages</b>
            </div>
            <div class="tab-pane" id="pill-justified-settings-1" role="tabpanel">
                <b>Settings</b>
            </div>
        </div>
    </div>
</div>

