@model VKTracker.Model.ViewModel.StockCodeViewModel

<div class="card">
    <div class="card-header d-flex align-items-center">
        <h5 class="card-title mb-0 flex-grow-1">Stock Code</h5>
        <div>
            <button class="btn btn-primary btn-label waves-effect waves-light" data-bs-toggle="modal" id="btnStockCodeModal" data-bs-target="#stockCodeModal">
                <i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i> Add Stock Code
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="gridStockCode" class="display table caption-top table-nowrap" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th class="col-10">Stock Code</th>
                    <th class="col-2">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade zoomIn" id="stockCodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-m">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="exampleModalLabel">Stock Code Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <form id="stockCodeForm" name="stockCodeForm" method="post">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <label for="projectName-field" class="form-label">Stock Code</label>
                            @Html.HiddenFor(x => x.Id)
                            @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeHolder = "Stock Code", @maxLength = "100" })
                            @Html.ValidationMessageFor(x => x.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="addStockCode">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade zoomIn" id="stockCodeLogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-soft-info">
                <h5 class="modal-title" id="exampleModalLabel">Stock Code History Logs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <table id="gridStockCodeLog" class="display table caption-top table-nowrap" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th class="col-2">Action</th>
                            <th class="col-3">StockCode Name</th>
                            <th class="col-3">User Name</th>
                            <th class="col-3">Log Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/custom/stockCodeDataTable.js"></script>

    <script>
        $(function () {
            $('#gridStockCode').DataTable().destroy();
            bindStockCode();
        });
    </script>
}