################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VKTracker/bin
/VKTracker/obj/Debug
/VKTracker.Common/bin/Debug
/VKTracker.Common/obj/Debug
/VKTracker.Model/bin/Debug
/VKTracker.Model/obj/Debug
/VKTracker.Repository/bin/Debug
/VKTracker.Repository/obj/Debug
/packages
