<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">@ViewBag.Title</h4>
            @if (!Convert.ToBoolean(Session["isAdmin"]) && Session["OrganizationName"] != null)
            {
                <h5 class="mb-sm-0 text-primary"><b>Selected Organization : </b>@Session["OrganizationName"].ToString()</h5>
            }
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Dashboards</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div>
</div>
