@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_BreadCrum.cshtml")

<div class="card">
    <div class="card-header d-flex align-items-center">
        <div class="card-title mb-0 flex-grow-1" id="recentDistributionHeader"></div>
        <div>
            <button class="btn btn-primary btn-label waves-effect waves-light">
                <i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i> Add Distribution
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="gridRecentDistribution" class="display table caption-top table-nowrap" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th>Party Name</th>
                    <th>Party Location</th>
                    <th>Stock Id</th>
                    <th>S.Code</th>
                    <th>Febric</th>
                    <th>Distributed from</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Distribution Date</th>
                    <th>Modified By</th>
                    <th>Modified On</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/custom/dashboardDataTable.js"></script>
    <script>
        $(function () {
            $('#gridDistribution').DataTable().destroy();
            bindRecentDistribution();
        });
    </script>
}
