@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_BreadCrum.cshtml")

<div class="card">
    <div class="card-header d-flex align-items-center">
        <div class="card-title mb-0 flex-grow-1" id="recentDistributionHeader"></div>
        <div>
            <button class="btn btn-primary btn-label waves-effect waves-light">
                <i class="ri-add-circle-line label-icon align-middle fs-16 me-2"></i> Add Distribution
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="gridRecentDistribution" class="display table caption-top table-nowrap" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th>Party Name</th>
                    <th>Party Location</th>
                    <th>Stock Id</th>
                    <th>S.Code</th>
                    <th>Febric</th>
                    <th>Distributed from</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Distribution Date</th>
                    <th>Modified By</th>
                    <th>Modified On</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('#gridDistribution').DataTable().destroy();
            bindRecentDistribution();
        });

        function bindRecentDistribution() {
            $('#gridRecentDistribution').DataTable({
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                lengthMenu: [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, 'All']],
                info: true,
                autoWidth: true,
                responsive: true,
                processing: true,
                serverSide: true,
                filter: true,
                ajax: {
                    url: "/Distribution/GetDistributionList/",
                    type: "POST",
                    datatype: "json"
                },
                columns: [
                    { data: "customerName", name: "Customer Name", "autoWidth": true },
                    { data: "customerAddress", name: "Customer Address", "autoWidth": true },
                    { data: "stockManagementId", name: "StockManagement Id", "autoWidth": true },
                    { data: "parcelCode", name: "Parcel Code", "autoWidth": true },
                    { data: "fabricName", name: "Fabric Name", "autoWidth": true },
                    { data: "locationName", name: "Location Name", "autoWidth": true },
                    { data: "itemName", name: "Item Name", "autoWidth": true },
                    { data: "actualQuantity", name: "ActualQuantity", "autoWidth": true },
                    { data: "distributionDate", name: "Distribution Date", "autoWidth": true },
                    { data: "modifiedBy", name: "Modified By", "autoWidth": true },
                    { data: "modifiedDate", name: "Modified On", "autoWidth": true },
                    {
                        bSortable: false,
                        autoWidth: true,
                        sDefaultContent: "<div class=\"hstack gap-3 flex-wrap\">\n" +
                            "                                    <a href=\"javascript:void(0);\" class=\"link-success fs-20\">\n" +
                            "                                        <i class=\"ri-edit-2-line\"></i>\n" +
                            "                                    </a>\n" +
                            "                                    <a href=\"javascript:void(0);\" class=\"link-danger fs-20 sa-warning\" onclick='deleteRecord(0)'>\n" +
                            "                                        <i class=\"ri-delete-bin-line\"></i>\n" +
                            "                                    </a>\n" +
                            "                                </div>",
                        render: function (data, type, row) {
                            return "<div class=\"hstack gap-3 flex-wrap\">\n" +
                                "                                    <a class=\"link-success fs-20 sa-warning\" onclick='editRecourd(" + row.id + ")'>\n" +
                                "                                        <i class=\"ri-edit-2-line\"></i>\n" +
                                "                                    </a>\n" +
                                "                                    <a class=\"link-danger fs-20 sa-warning\" onclick='deleteRecord(" + row.id + ")'>\n" +
                                "                                        <i class=\"ri-delete-bin-line\"></i>\n" +
                                "                                    </a>\n" +
                                "                                    <a class=\"link-primary fs-20 sa-warning\" onclick='bindStockCodeLogGrid(" + row.id + ")' data-bs-toggle='modal' data-bs-target='#stockCodeLogModal'>\n" +
                                "                                        <i class=\"ri-history-line\"></i>\n" +
                                "                                    </a>\n" +
                                "                                </div>";
                        }
                    },
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Generate PDF',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Generate Excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'CSV',
                        titleAttr: 'Generate CSV',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: 'Copy',
                        titleAttr: 'Copy to clipboard',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        titleAttr: 'Copy to clipboard',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    'pageLength'
                ]
            }).buttons().container().appendTo('#recentDistributionHeader');
        }
    </script>
}
